<h1>Listing weeks</h1>

<table>
  <tr>
    <th>Start</th>
    <th>Stop</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @weeks.each do |week| %>
  <tr>
    <td><%= week.start %></td>
    <td><%= week.stop %></td>
    <td><%= link_to 'Show', week %></td>
    <td><%= link_to 'Edit', edit_week_path(week) %></td>
    <td><%= link_to 'Destroy', week, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Week', new_week_path %>
