<p id="notice"><%= notice %></p>

<p>
  <b>Start:</b>
  <%= @week.start %>
</p>

<p>
  <b>Stop:</b>
  <%= @week.stop %>
</p>


<%= link_to 'Edit', edit_week_path(@week) %> |
<%= link_to 'Back', weeks_path %>
