<h1>Listing task_rows</h1>

<table>
  <tr>
    <th>Start Date</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @task_rows.each do |task_row| %>
  <tr>
    <td><%= task_row.startDate %></td>
    <td><%= task_row.task.project if task_row.task %></td>
    <td><%= link_to 'Show', task_row %></td>
    <td><%= link_to 'Edit', edit_task_row_path(task_row) %></td>
    <td><%= link_to 'Destroy', task_row, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task row', new_task_row_path %>
