<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @timesheet.task.project if @timesheet.task %>
</p>
<p>
  <b>Hours:</b>
  <%= @timesheet.hours %>
</p>


<%= link_to 'Edit', edit_timesheet_path(@timesheet) %> |
<%= link_to 'Back', timesheets_path %>
